/* styles.css */
/* Estilize conforme sua preferência */
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px;
}

.title-news-today {
  font-weight: bold;
  margin-top: 20px;
}
